$grid-color: #ccd4bf;

.grid-bg {
	border-color: $grid-color;
	border-width: 1px;
	background-color: rgba(#fff, .5);
	background-image: linear-gradient(rgba(150, 150, 150, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(150, 150, 150, .3) 1px, transparent 1px);
	background-size: 20px 20px, 20px 20px;
	background-position: -1px -1px, -1px -1px;
}

#dropdown {
	opacity: 1;
	transform: translateY(0);
	transition: .4s ease-in-out;
}
​
#dropdown.show {
	opacity: 1;
	transform: translateY(100%);
	transition: .4s ease-in-out;
}

#mobile-menu {
	opacity: 1;
	transform: translateY(-100%);
	transition: .4s ease-in-out;
}
​
#mobile-menu.show {
	opacity: 1;
	transform: translateY(0);
	transition: .4s ease-in-out;
}